
/* ページ全体のスタイル */
body {
  
  min-width: 760px;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  font-family: "Noto Sans JP", "sans-serif";
}

/* ヘッド部のスタイル */
header{
  background: radial-gradient(#babebd, #7c7e7d);
  height: 700px;
  overflow: hidden;
  display: flex;
}

.header-item{
color: white;
padding: 90px 0 0 125px;  /*上　右　下　左 */
}

.header-item h1{
  font-size: 80px;
  margin: 0;
  line-height: 120%;
  font-weight: normal;
}

.header-item p{
  white-space: nowrap;
  margin: 10px 0px;
  font-size: 35px;
  font-weight: normal;
}

header img{
  display: block;
  height: 700px;
  position: relative;
  left: -120px;
}


/* aboutのスタイル */
.block-about{
  height:600px;
  display: flex; 
  overflow: hidden; 
}

.block-about >:last-child{
  align-self: center;
}


.about-item{
  margin:  90px 100px 0 125px;
}

.about-item h2{
  font-size: 40px;
}

.about-item p{
  font-size: 20px;
}

.block-about img{
  display: block;
  height: 650px; 
}

 .list-item-about {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: left;
}

.list-item-about img {
  margin: 0;
  padding: 0;
  width: 45px;
  height: auto;
  margin-right: 30px;
}


.block-work{
  overflow: hidden;
}

/* work1 */
.work1{
  background: radial-gradient(#babebd, #7c7e7d);
  height: 600px;
  padding-left: 150px;
  position: relative;
}

.work1 h2{
  margin: 0;
  padding-top: 60px;
  color: white;
  letter-spacing: 2px;
  font-weight: normal;
}

.work1-item h2{
  padding-top: 35px;
}

.work1-about{
  display: flex;
  position: absolute;
  bottom: 0;
}


.work1-img img{
  display: block;
  margin: 0;
  width: 500px;
 
}

.work1-item{
  padding-left: 30px;
}

.work1 p{
  font-weight: normal;
  color: white;
  letter-spacing: 1px;
  line-height: 30px;
}

.work1-link{
  padding-top: 20px;
}

.work1-link a{
  text-decoration: none;
  border: 1px solid;
  padding: 5px 10px;
  margin-right: 10px;
}

#btn-web{
  background-color: white;
  color: #7c7e7d;
  border:none;
  letter-spacing: 2px;  
}

#btn-git{
  background-color: rgba(0,0,0,0);
  color: white;
  border-color: white;
  letter-spacing: 2px;
}


/* work2 */
.work2{
  background-color: white;
  height: 600px;
  padding-left: 150px;
  position: relative;
}

.work2-about{
  display: flex;
  position: absolute;
  top: 0;
}

.work2-img img{
  display: block;
  margin: 0;
  width: 500px;
 
}

.work2-item{
  padding-top: 35px;
  padding-left: 30px;
}

.work2 h2{
  font-weight: normal;
  color: #676867;
  letter-spacing: 1px;
}

.work2 p{
  font-weight: normal;
  color: #676867;
  letter-spacing: 1px;
  line-height: 30px;
}

.work2-link{
  padding-top: 20px;
}

.work2-link a{
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
}

.work2-link #btn-web{
  background-color: white;
  color: #7c7e7d;
  border: 1px solid;
  border-color:black;
  letter-spacing: 2px;  
}

.work2-link #btn-git{
  background-color: #7c7e7d;
  color: white;
  border: 1px solid;
  border-color: #7c7e7d;
  letter-spacing: 2px;
}



/* コンタクトの部分のスタイル */

.block-contact {
  height: 300px;
  background-color: #2f2f2f;
  color: white;
  padding-left: 150px;
  padding-top: 100px;
}

.block-contact h2{
  margin: 0;
  font-size: 35px;
}

.block-contact p{
  margin: 30px 0;
  font-size: 20px;
  letter-spacing: 1px;
}

.block-contact img{
  vertical-align: middle;
  height: 40px;
}

/* footerの部分のスタイルシート */

footer {
  height: 80px;
  background-color: #676867;
}

footer p {
  margin: 0;
  padding: 25px 0;
  color: white;
  font-size: 18px;
  text-align: center;
}