body {
  margin: 0;
}

.block-header {
  background: radial-gradient(#babebd, #7c7e7d);
  width: 100%;
  height: 700px;
  margin: 0%;
  display: flex;
  overflow: hidden;
  /* justify-content: center; */
  /* align-items: center; */
  /* padding-top: 120px; */
}

.item-header {
  color: #fff;
  /* float: left; */
  padding-top: 80px;
  padding-left: 80px;
}

.item-header h1 {
  font-size: 100px;
  margin: 0;
  line-height: 120%;
}

.item-header p {
  margin: 10px 0px;
  font-size: 40px;
}

.block-header img {
  height: 100%;
  position: relative;
  bottom: 0;
  left: -100px;
}

/* .img-header{
 padding-left: 100px; 
 margin: 0;
position: relative;   
} */
/* .img-header img {
height: 100%;
position: absolute;
bottom: 0px;
left: -100px;
} */
/* about ã®ã‚¹ã‚¿ã‚¤ãƒ«ã‚·ãƒ¼ãƒˆ */
.block-about {
  display: flex;
  overflow: hidden;
  height: 600px;
}

.item-about {
  margin: 45px 150px;
}

.item-about h2 {
  font-size: 50px;
  font-weight: normal;
}

.img-about img {
  margin: 0 0 0 250px;
}

.list-item-about {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  list-style: none;
  justify-content: left;
}

.list-item-about img {
  width: 30px;
  margin-right: 10px;
}

.img-about img {
  height: 100%;
}

.block-works {
  background: radial-gradient(#babebd, #7c7e7d);
  height: 750px;
  padding-left: 150px;
  position: relative;
}



/* footer*/
footer {
  height: 80px;
  background-color: #676867;
}

.block-contact {
  height: 490px;
}

footer p {
  margin: 0;
  padding: 25px 0;
  color: white;
  font-size: 18px;
  text-align: center;
}
