body {
  margin: 0;
}

.block-header {
  background: radial-gradient(#babebd, #7c7e7d);
  width: 100%;
  height: 700px;
  margin: 0%;
  display: flex;
  overflow: hidden;
  /* justify-content: center; */
  /* align-items: center; */
  /* padding-top: 120px; */
}

.item-header {
  color: #fff;
  /* float: left; */
  padding-top: 80px;
  padding-left: 80px;
  margin: 70px;
}

.item-header h1 {
  font-size: 100px;
  margin: 0;
  line-height: 120%;
}

.item-header p {
  margin: 10px 0px;
  font-size: 40px;
}

.block-header img {
  height: 100%;
  position: relative;
  bottom: 0;
  left: -100px;
}


.block-about {
  display: flex;
  overflow: hidden;
  height: 600px;
}

.item-about {
  margin-top: 45px;
  margin-left: 150px;
 
}

.item-about h2 {
  font-size: 50px;
  font-weight: normal;
}

.img-about img {
  display: block;
  margin: 0 0 0 320px;
}

.list-item-about {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  list-style: none;
  justify-content: left;
}

.list-item-about img {
  width: 30px;
  margin-right: 10px;
}

.img-about img {
  height: 100%;
}

.block-works {
  background: radial-gradient(#babebd, #7c7e7d);
  height: 750px;
  padding-left: 150px;
  position: relative;
}

.title-works {
  padding-top: 45px;

}

.title-works h2 {
  color: #fff;
  font-size: 35px;
}

.content-works {
  display: flex;
  position: absolute;
  bottom: 0;
}

.content-works img {
  display: block;
  width: 650px;
  margin: 0;
  padding: 0;
}

.item-works {
  display: block;
  margin-left: 50px;
  padding-top: 50px;
  color: #fff;
}

.item-works p {
  font-size: 18px;
}

.item-list{
  padding-top: 30px;
}
.item-list a {
  text-decoration: none;
  border: 1px solid;
  padding: 5px 10px;
  margin-right: 10px;
}
#btn-web{
  background-color: white;
  color: #7c7e7d;
  border:none;
  letter-spacing: 2px;  
}

#btn-git{
  background-color: rgba(0,0,0,0);
  color: white;
  border-color: white;
  letter-spacing: 2px;
}



.block-works2{
  background-color: white;
  height: 750px;
  padding-left: 150px;
  position: relative;
  
}

.block-works2 .content-works{
  display: flex;
  position: absolute;
  top: 0;
}

.block-works .conten-works img{
  display: block;
}

.block-works2 .item-works{
  color: #676867;
}

.block-works2 .item-list #btn-web{
  background-color: white;
  color: #7c7e7d;
  border:2px solid;
  border-color: #7c7e7d;
}

.block-works2 .item-list #btn-git{
  background-color: #7c7e7d;
  color: white;
  border:2px solid;
  border-color: white;
}


/* footer*/
footer {
  height: 80px;
  background-color: #676867;
}

.block-contact {
  height: 300px;
  background-color: #2f2f2f;
  color: white;
  padding-left: 150px;
  padding-top: 100px;
}

.block-contact h2{
  margin: 0;
  font-size: 35px;
}

.block-contact p{
  margin: 30px 0;
  font-size: 20px;
  letter-spacing: 1px;
}

.block-contact img{
  vertical-align: middle;
  height: 40px;
}
footer p {
  margin: 0;
  padding: 25px 0;
  color: white;
  font-size: 18px;
  text-align: center;
}
